<template data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='clientlib.header'}">
</template>

<header data-sly-use.headerModel="com.ttn.blog.core.models.HeaderModel">
    <div class="logo">
        <img src="${headerModel.logoPath @ context='uri'}" alt="Logo">
        <h2>${headerModel.websiteName}</h2>
    </div>

    <nav>
        <ul class="navbar" data-sly-list.menuItem="${headerModel.menuItems}">
            <li>
                <a href="${menuItem.Link @ context='uri'}">${menuItem.Title}</a>
            </li>
        </ul>
    </nav>
</header>