<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='blogproject.content'}"/>

<div class="blog-container" data-sly-use.content="com.ttn.blog.core.models.PublishedListofBlogs">
    <div class="blog-list" data-sly-list.item="${content.blogs}">
        <div class="blog-card">
            <div class="blog-content">
                <h3 class="blog-title">
                    <a href="${item.Link @context = 'uri' }">${item.Title}</a>
                </h3>
                <div class="blog-date">${item.Date}</div>
                <p class="blog-description">${item.SubHeading}</p>
                <a class="read-more" href="${item.Link @context = 'uri' }">Continue reading</a>
            </div>
            <img class="blog-image" src="${item.Img}" alt="Blog image">
        </div>
    </div>
</div>
