<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='blogproject.about'}"/>

<div class="about-container" data-sly-use.aboutModel="com.ttn.blog.core.models.About">
    <h2 class="about-heading">${aboutModel.heading}</h2>
    <div class="about-content">
        <p data-sly-test="${aboutModel.about}">${aboutModel.about @ context='html'}</p>
        <p data-sly-test="${!aboutModel.about}">Please configure the About component.</p>
    </div>
</div>