.blog-heading {
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.blog-heading h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.blog-heading p {
    font-size: 16px;
    color: #666;
    margin: 5px 0 0;
}

.blog-date {
    color:#8c8c8c;
}

.blog-author {
    font-style: italic;
     color: #007bff;
}